<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="script.js">

</head>
<body>
    <header>
        <h1>Biblioteca</h1>
    </header>
    <div class="menu">
        <ul>
            <li><a href="cadastrarLivro.html" id="cadastrar">Cadastrar Livro</a></li>
            <li><a href="#" id="listar">Listar Livros</a></li>
            <li><a href="emprestar.html" id="emprestar">Emprestar Livro</a></li>
            <li><a href="devolver.html" id="devolver">Devolver Livro</a></li>
        </ul>
    </div>

    <script src="script.js"></script>
</body>
</html>
